# CSV and Excel

In [1]:
%%writefile file.csv
nr;IP-adres;naam;datum
0000001;10.5.6.2;piet;2016-06-28 18:06:09 UTC
0000002;10.6.2.5;joris;2016-06-29 18:06:09 UTC
0000001;10.5.6.2;piet;2016-06-30 18:06:09 UTC

Overwriting file.csv

In [2]:
import pandas as pd
from datetime import date
import matplotlib.pyplot as plt
%matplotlib inline

### read and write

chunksize=1000000 for large files<br>
sep is the delimiter<br>
nrows = <br>
skiprow number of rows to skip (int) at the start of the file

In [21]:
df = pd.read_csv('file.csv',quoting=1,sep=";",chunksize=1000000)

In [4]:
df

   nr  IP-adres   naam                    datum
0   1  10.5.6.2   piet  2016-06-28 18:06:09 UTC
1   2  10.6.2.5  joris  2016-06-29 18:06:09 UTC
2   1  10.5.6.2   piet  2016-06-30 18:06:09 UTC

In [5]:
df.to_excel('file.xls')

# Preparing the data

### wat is de type

In [6]:
df.dtypes

nr           int64
IP-adres    object
naam        object
datum       object
dtype: object

### date format

See http://strftime.org for more formats

In [7]:
df['dateUTC']=pd.to_datetime(df['datum'],format='%Y-%m-%d %H:%M:%S %Z' )

## Search  and selection

In [8]:
df[df['naam'] =='piet']

   nr  IP-adres  naam                    datum             dateUTC
0   1  10.5.6.2  piet  2016-06-28 18:06:09 UTC 2016-06-28 18:06:09
2   1  10.5.6.2  piet  2016-06-30 18:06:09 UTC 2016-06-30 18:06:09

In [9]:
df[df['dateUTC'] > date(2016,6,29)]

   nr  IP-adres   naam                    datum             dateUTC
1   2  10.6.2.5  joris  2016-06-29 18:06:09 UTC 2016-06-29 18:06:09
2   1  10.5.6.2   piet  2016-06-30 18:06:09 UTC 2016-06-30 18:06:09

In [10]:
df[(df['dateUTC'] > date(2016,6,29)) & (df['naam'] =='piet')]

   nr  IP-adres  naam                    datum             dateUTC
2   1  10.5.6.2  piet  2016-06-30 18:06:09 UTC 2016-06-30 18:06:09

In [11]:
df[['naam','datum']]

    naam                    datum
0   piet  2016-06-28 18:06:09 UTC
1  joris  2016-06-29 18:06:09 UTC
2   piet  2016-06-30 18:06:09 UTC

In [12]:
df[1:2]

   nr  IP-adres   naam                    datum             dateUTC
1   2  10.6.2.5  joris  2016-06-29 18:06:09 UTC 2016-06-29 18:06:09

In [13]:
df.query(" naam in ['piet','joris']")

   nr  IP-adres   naam                    datum             dateUTC
0   1  10.5.6.2   piet  2016-06-28 18:06:09 UTC 2016-06-28 18:06:09
1   2  10.6.2.5  joris  2016-06-29 18:06:09 UTC 2016-06-29 18:06:09
2   1  10.5.6.2   piet  2016-06-30 18:06:09 UTC 2016-06-30 18:06:09

In [17]:
list(set(df['naam']))

['joris', 'piet']

In [19]:
list(df['IP-adres'].unique())

['10.5.6.2', '10.6.2.5']

In [ ]:
df.groupby('naam').count()
#df.plot['naam']

In [20]:
df.groupby('naam').IP-adres.nunique()

AttributeError: 'DataFrameGroupBy' object has no attribute 'IP'

In [ ]:
df.groupby('naam').count()

In [ ]:
df = df.set_index('naam')
df.groupby('naam')
p = df.plot(kind='barh',figsize=(20,5))
p.set_title("hoi",fontsize = 30)

# Plotting

In [ ]:
df.hist?

#plt.show()
df.hist?

In [ ]:
ax1 = df.cumsum().plot()
lines, labels = ax1.get_legend_handles_labels()
ax1.legend(lines[:2], labels[:2], loc='best')  # legend for first two lines only

In [ ]:
#df.plot(x='naam', y='IP-adres', style='o')
#df.groupby([df.index.date, 'naam']).count().plot(kind='bar')
ax1 =df.plot()
ax1.show()

### ploten op datum

In [ ]:
df['mydate'] = pd.to_datetime(df['datum'])
df = df.set_index('mydate')
df['day'] = df.index.date
counts = df.groupby(['day', 'naam']).agg(len)
counts.plot(kind='bar')