In [8]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import numpy as np

# Thingspeak python and pandas

## read the data ##
results (integer) Number of entries to retrieve, 8000 max (optional) <br>
days (integer) Number of 24-hour periods before now to include in feed, default 1 (optional)<br>
start (datetime) Start date in format YYYY-MM-DD%20HH:NN:SS (optional)<br>
end (datetime) End date in format YYYY-MM-DD%20HH:NN:SS (optional)<br>

In [36]:
pinda = pd.read_csv("https://thingspeak.com/channels/124711/feed.csv?start=2011-11-11%2010:10:10&end=2016-11-11%2011:11:11")
pinda = pd.read_csv("https://thingspeak.com/channels/124711/feed.csv?days=5")


#pinda = pd.read_csv("https://thingspeak.com/channels/124711/feed.csv")

pinda.head()

                created_at  entry_id  field1  field2  field3  field4
0  2016-06-24 15:34:10 UTC      1535      95     NaN    25.0    62.0
1  2016-06-24 15:36:09 UTC      1536     100     NaN    25.0    61.0
2  2016-06-24 15:38:10 UTC      1537      88     NaN    25.0    61.0
3  2016-06-24 15:40:10 UTC      1538     122     NaN    25.0    61.0
4  2016-06-24 15:42:09 UTC      1539     119     NaN    26.0    60.0

# temperatuur

In [37]:
#pinda['date2']=pd.to_datetime(pinda['created_at'],format='%Y-%m-%d %H:M:%S %Z' )
pinda['date2']=pd.to_datetime(pinda['created_at'],format='%Y-%m-%d %H:%M:%S %Z' )
pinda.head()

,created_at,entry_id,field1,field2,field3,field4,date2
0,2016-06-24 15:34:10 UTC,1535,95,NaN,25.0,62.0,2016-06-24 15:34:10
1,2016-06-24 15:36:09 UTC,1536,100,NaN,25.0,61.0,2016-06-24 15:36:09
2,2016-06-24 15:38:10 UTC,1537,88,NaN,25.0,61.0,2016-06-24 15:38:10
3,2016-06-24 15:40:10 UTC,1538,122,NaN,25.0,61.0,2016-06-24 15:40:10
4,2016-06-24 15:42:09 UTC,1539,119,NaN,26.0,60.0,2016-06-24 15:42:09

In [ ]:
plt.plot(pinda['date2'].tolist(),pinda['field3'].tolist())
plt.xlabel('time')
plt.gcf().autofmt_xdate()


plt.ylabel('temperatuur')
plt.title('10A Tuin')
plt.grid(True)
plt.savefig("test.png")
plt.show()